<!-- Loan Types Grid -->
<div class="grid grid-cols-2 gap-x-8">
  <ul class="text-gray-400 space-y-2">
    {% assign first_half = site.data.loan-types.all_types | slice: 0, 7 %}
    {% for loan in first_half %}
      <li><a href="{{ site.baseurl }}{{ loan.url }}" class="hover:text-white">{{ loan.name }}</a></li>
    {% endfor %}
  </ul>
  <ul class="text-gray-400 space-y-2">
    {% assign second_half = site.data.loan-types.all_types | slice: 7, 7 %}
    {% for loan in second_half %}
      <li><a href="{{ site.baseurl }}{{ loan.url }}" class="hover:text-white">{{ loan.name }}</a></li>
    {% endfor %}
  </ul>
</div>
