<!-- Loan Types Grid -->
<div class="grid grid-cols-2 gap-x-8">
  <ul class="text-gray-400 space-y-2">
    <li><a href="{{ site.baseurl }}/new-car-loans/" class="hover:text-white">New Car Loans</a></li>
    <li><a href="{{ site.baseurl }}/used-car-loans/" class="hover:text-white">Used Car Loans</a></li>
    <li><a href="{{ site.baseurl }}/home-loans/" class="hover:text-white">Home Loans</a></li>
    <li><a href="{{ site.baseurl }}/business-loans/" class="hover:text-white">Business Loans</a></li>
    <li><a href="{{ site.baseurl }}/truck-loans/" class="hover:text-white">Truck Loans</a></li>
    <li><a href="{{ site.baseurl }}/green-loans/" class="hover:text-white">Green Loans (Eco)</a></li>
    <li><a href="{{ site.baseurl }}/personal-loans/" class="hover:text-white">Personal Loans</a></li>
  </ul>
  <ul class="text-gray-400 space-y-2">
    <li><a href="{{ site.baseurl }}/refinance/" class="hover:text-white">Refinance</a></li>
    <li><a href="{{ site.baseurl }}/home-renovation-loans/" class="hover:text-white">Home Renovations</a></li>
    <li><a href="{{ site.baseurl }}/equipment-finance/" class="hover:text-white">Equipment Finance</a></li>
    <li><a href="{{ site.baseurl }}/asset-finance/" class="hover:text-white">Asset Finance</a></li>
    <li><a href="{{ site.baseurl }}/abn-holder-loans/" class="hover:text-white">ABN Holder Loans</a></li>
    <li><a href="{{ site.baseurl }}/short-term-loans/" class="hover:text-white">Short-Term Loans</a></li>
    <li><a href="{{ site.baseurl }}/luxury-car-loans/" class="hover:text-white">Luxury Car Loans</a></li>
  </ul>
</div>
